
.authors {
  padding: 30px;
}


.authors-search-wrabber {
  width: 80%;
  margin: 10px auto 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authors-search-wrabber input{
  width: 100%;
  padding:10px 20px;
  border-radius: 50px;
font-size: 21px;
font-weight: 600;
color: gray;
border:2px solid gray;
}

.authors-wrabber {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.author {
  width: 400px;
  height: 356px;
  border: 1px solid gray;
  padding:15px;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 0.5s ease;
  background-color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  border-radius: 7px;
  margin: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.author:hover {
transform: scale(1.01);
}


.author-img {
  width: 100%;
  height:290px;
  object-fit:cover;
  border-radius: 7px;
}

.author-name {
  margin: 5px;

  /* margin-bottom: 15px; */

}

/* <section className="authors">
<div className="authors-search-wrabber">
  <input type="search" placeholder="Search In Authors" />
</div>
<div className="authors-wrabber">
  {authors.map((author) => (
    <div key={author.id} className="author">
      <img src={author.image} alt={author.name} className="author-img" />
      <h2 className="author-name">{author.name}</h2>
    </div>
  ))}
</div>
</section> */